<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090390887405-v3e2ttc6bvm7m9b4dvfdnbakhq4uhjba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090390887405-v3e2ttc6bvm7m9b4dvfdnbakhq4uhjba</string>
	<key>API_KEY</key>
	<string>AIzaSyCm5PWhthwwCDjOrL2ICzinf5WIMQN4-aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1090390887405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mannergamer.mannergamer</string>
	<key>PROJECT_ID</key>
	<string>mannergamer-c2546</string>
	<key>STORAGE_BUCKET</key>
	<string>mannergamer-c2546.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090390887405:ios:57f639627a2590d0d9b5e4</string>
</dict>
</plist>