<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481543250834-iumlae284s99dhgg21vgsmf42ea6fvlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481543250834-iumlae284s99dhgg21vgsmf42ea6fvlb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481543250834-85urk2ded1tsfnpe70hsseiresvpu0m0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_M7v4kCJOPaPTapXwWAjsuxDEX7lHD6s</string>
	<key>GCM_SENDER_ID</key>
	<string>481543250834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamego.gamego</string>
	<key>PROJECT_ID</key>
	<string>gamego-ef2ef</string>
	<key>STORAGE_BUCKET</key>
	<string>gamego-ef2ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481543250834:ios:72f9615f707a5ae159974b</string>
</dict>
</plist>